.container {
    display: flex;
    border: 1px solid gray;
}

.champImg {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    justify-content: flex-start;
}